/* navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 58px;
  z-index: 1000;
}

.navbar-logo img {
  height: 73px;
  filter: brightness(0) invert(1);
}

.navbar-actions .login-button {
  background-color: var(--light-color);
  border: none;
  font-weight: bold;
  font-size: large;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.navbar-actions .login-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-2px);
  /* Add a subtle hover effect */
}