.privacy_policies_wrapper {
  padding-top: 40px;
}
.initial_content {
  padding-left: 0px;
  padding-right: 0px;
}
.privacy_policies_wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.privacy_policies_content {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}
