.main_class {
  padding-left: 20px;
  padding-right: 20px;
}
.main_title {
  padding-top: 30px;
}
.content_wrapper {
  margin-top: 30px;
}
.first_condition {
  margin-top: 10px;
}
.second_condition {
  margin-top: 30px;
}
